# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3
db.sqlite3
/staticfiles/
/media/

# Virtual environment
env/
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
python manage.py runserver
